﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body ng-app="myApp" ng-controller="myAppController" ng-init="loadClasses()">
    <div class="row">
        <div class="col-md-8">
            <h4>Classes</h4>
            <table id="classTable" class="table table-bordered">
                <thead>
                    <tr>
                        <th>Class Name</th>
                        <th>Location</th>
                        <th>Teacher Name</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="class in classes" ng-click="rowSelected(class.Id, class.ClassName)" ng-class="{selected: class.Id === selectedRow}">
                        <td>{{class.ClassName}}</td>
                        <td>{{class.Location}}</td>
                        <td>{{class.TeacherName}}</td>
                        <td><a herf="javascript:void(0)" ng-click="editClass(class); $event.stopPropagation();">Edit</a></td>
                        <td><a herf="javascript:void(0)" ng-click="deleteClass(class); $event.stopPropagation();">Delete</a></td>
                    </tr>
                </tbody>
            </table>

            <button class="btn btn-primary pull-right" data-toggle="modal" data-target="#addClass">Add Class</button>
        </div>
    </div>
    <div class="row" ng-show="selectedRow">
        <div class="col-md-5">
            <label>{{selectedClassName}}</label><br />
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Student Name</th>
                        <th>Age</th>
                        <th>GPA</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="student in studentList">
                        <td ng-class="{highlight : student.GPA > 3.2}">{{student.FirstName}} {{student.Surname}}</td>
                        <td>{{student.Age}}</td>
                        <td>{{student.GPA}}</td>
                        <td><a herf="javascript:void(0)" ng-click="editStudent(student); $event.stopPropagation();">Edit</a></td>
                        <td><a herf="javascript:void(0)" ng-click="deleteStudent(student); $event.stopPropagation();">Delete</a></td>
                    </tr>
                </tbody>
            </table>

            <button class="btn btn-primary pull-right" data-toggle="modal" data-target="#addStudent">Add Student</button>
        </div>
    </div>
</body>
@Html.Partial("~/Views/Home/Modals/AddClass.cshtml")
@Html.Partial("~/Views/Home/Modals/EditClass.cshtml")
@Html.Partial("~/Views/Home/Modals/DeleteClass.cshtml")
@Html.Partial("~/Views/Home/Modals/AddStudent.cshtml")
@Html.Partial("~/Views/Home/Modals/EditStudent.cshtml")
@Html.Partial("~/Views/Home/Modals/DeleteStudent.cshtml")
</html>
