﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Restfull API</title>
</head>
<body>
    <h4>Restfull API</h4>
    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-sm-12">
                <textarea class="form-control" style="min-width: 100%" rows="10">@ViewBag.JSONResult</textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-12">
                @Html.ActionLink("Call Class API", "CallAPI", null, htmlAttributes: new { @class = "btn btn-primary" })
            </div>
        </div>
    </div>
</body>
</html>
