﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <h3>Error</h3>
    <div class="alert alert-danger" role="alert">An Error has occured. Please view the Logs.</div>
</body>
</html>
