﻿<div id="addClass" class="modal fade">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h5 class="modal-title">Add Class</h5>
            </div>
            <form name="addclassform" id="addclassform" ng-submit="addClassForm(addclassform)" ng-validate="classValidationOptions">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="ClassName" class="col-md-3">Class Name</label>
                        <input name="ClassName" id="ClassName" class="form-control" ng-model="addClassFormData.ClassName" />
                    </div>
                    <div class="form-group">
                        <label for="Location" class="col-md-3">Location</label>
                        <input name="Location" id="Location" class="form-control" ng-model="addClassFormData.Location" />
                    </div>
                    <div class="form-group">
                        <label for="TeacherName" class="col-md-3">Teacher Name</label>
                        <input name="TeacherName" id="TeacherName" class="form-control" ng-model="addClassFormData.TeacherName" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success">Add Class</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>


