﻿<div id="addStudent" class="modal fade">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h5 class="modal-title">Add Student</h5>
            </div>
            <form name="addstudentform" id="addstudentform" ng-submit="addStudentForm(addstudentform)" ng-validate="studentValidationOptions">
                <div class="modal-body">
                    <input type="hidden" name="ClassId" ng-model="addStudentFormData.ClassId" />
                    <div class="form-group">
                        <label for="FirstName" class="col-md-3">First Name</label>
                        <input name="FirstName" id="FirstName" class="form-control" ng-model="addStudentFormData.FirstName" />
                    </div>
                    <div class="form-group">
                        <label for="Surname" class="col-md-3">Surname</label>
                        <input name="Surname" id="Surname" class="form-control" ng-model="addStudentFormData.Surname" ng-change="checkAddIsSurnameUnique(addStudentFormData)" />
                        <label for="StudentSurname" class="highlight" ng-show="addIsSurnameUnique">Surname should be unique</label>
                    </div>
                    <div class="form-group">
                        <label for="Age" class="col-md-3">Age</label>
                        <input name="Age" id="Age" class="form-control" ng-model="addStudentFormData.Age" />
                    </div>
                    <div class="form-group">
                        <label for="GPA" class="col-md-3">GPA</label>
                        <input name="GPA" id="GPA" class="form-control" ng-model="addStudentFormData.GPA" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success">Add Student</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>

