﻿<div id="deleteStudent" class="modal fade">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h5 class="modal-title">Are you sure you want to Delete Student?</h5>
            </div>
            <form name="deletestudentform" id="deletestudentform" ng-submit="deleteStudentForm(deletestudentform)">
                <div class="modal-body">
                    <input type="hidden" name="ClassId" ng-model="deleteStudentFormData.ClassId" />
                    <input type="hidden" name="StudentId" ng-model="deleteStudentFormData.Id" />
                    <div class="form-group">
                        <label for="FirstName" class="col-md-3">First Name</label>
                        <p name="FirstName" id="FirstName">{{deleteStudentFormData.FirstName}}</p>
                    </div>
                    <div class="form-group">
                        <label for="Surname" class="col-md-3">Surname</label>
                        <p name="Surname" id="Surname">{{deleteStudentFormData.Surname}}</p>
                    </div>
                    <div class="form-group">
                        <label for="Age" class="col-md-3">Age</label>
                        <p name="Age" id="Age">{{deleteStudentFormData.Age}}</p>
                    </div>
                    <div class="form-group">
                        <label for="GPA" class="col-md-3">GPA</label>
                        <p name="GPA" id="GPA">{{deleteStudentFormData.GPA}}</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success">Delete Student</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>

