﻿<div id="deleteClass" class="modal fade">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h5 class="modal-title">Are you sure you want to Delete the Class?</h5>
            </div>
            <form name="deleteclassform" id="deleteclassform" ng-submit="deleteClassForm(deleteclassform)">
                <div class="modal-body">
                    <input type="hidden" name="Id" ng-model="deleteClassFormData.Id" />
                    <div class="form-group">
                        <label for="ClassName" class="col-md-3">Class Name</label>
                        <p name="ClassName" id="ClassName">{{deleteClassFormData.ClassName}}</p>
                    </div>
                    <div class="form-group">
                        <label for="Location" class="col-md-3">Location</label>
                        <p name="Location" id="Location">{{deleteClassFormData.Location}}</p>
                    </div>
                    <div class="form-group">
                        <label for="TeacherName" class="col-md-3">Teacher Name</label>
                        <p name="TeacherName" id="TeacherName">{{deleteClassFormData.TeacherName}}</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success">Delete Class</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>


