﻿@model IEnumerable<QuantumIT.Models.ElmahError>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Log View</title>
</head>
<body>
    <div class="row">
        <div class="col-md-12">
            <h4>Log View</h4>
            <table id="logTable" class="table table-bordered">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Host)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Type)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Source)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Message)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.User)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.StatusCode)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TimeUtc)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Host)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Type)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Source)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Message)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.User)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.StatusCode)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TimeUtc)
                            </td>
                        </tr>
                    }
                <tbody>
            </table>
        </div>
    </div>
</body>
</html>
@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('#logTable').DataTable({
            });
        });
    </script>
}